<h2><%= @list.name %></h2>

<div><%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %></div>

<h3>List of movies</h3>
    <%= link_to "Delete List",
            list_path(@list),
            method: :delete,
            data: { confirm: "Delete this whole list?" } %>
<ul class = 'list-group'>
  <% @movies.each do |movie| %>
    <li class = 'list-group-item'><%= movie.title %>
    <% @bookmark = Bookmark.find(movie.bookmark_ids) %>
    <%= link_to "ðŸ—‘ï¸",
            movie_bookmark_path(@bookmark),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
<%= link_to '<Back', lists_path %>
<%= link_to 'Add a movie', movies_path(@list) %>
